
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}
.lightbox-wrapper{
  max-width:250px;
  max-height: 250px;
  object-fit:scale-down;
}
.emoji{
  max-width: 15px;
  max-height: 15px;
}
#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}
img{
  object-fit:scale-down;
  max-width: 300px;
  max-height: 300px;
}
div.meta{
  display: none;
  padding: 0px;
  margin: 0px;
}
video{
  width:800px;
  height:400px;
}
.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
    max-width: 100%;
    width: 100%;
    height:8rem;
    bottom: 0;
    top: 0;
    position: relative;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}


.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 0.5em 1em 0;
}

.post {
    padding-right: 2.5em;
    padding-left: 2.5em ;
    padding-bottom: 1em;
    padding-top: 1em;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    border-radius:25px;
    margin:1em;
}
h1.post{
  align-content:center ;
  align-self: center;
  align-items: center;
  padding-right: 0.5em;
  padding-left: 0.5em ;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  font-size: 2em;
  color: #fff;
  background-color: #343a40;
  border: 4px solid;
  border-color: #ffffff;
  border-radius:25px;
  margin:0.5em;
}
.post-title {
    font-size: 2em;
    margin-bottom: 0.2em;
    line-break:anywhere;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    font-size:1.3em;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
    font-size: 1em;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
  #layout {
      padding: 0;
      width:80%;
      margin-left: 10%;
      margin-right: 10%;
  }
    .content {
        padding: 1em 3em 0;
        margin-left: 15%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        max-width: 20%;
        height:100%;
        position: fixed;
    }
    .footer {
        text-align: center;
    }
}
