

.blur {
width:100%;
height:100%;
background-size:cover;
-webkit-filter: blur(4px);
-moz-filter: blur(4px);
-ms-filter: blur(4px);
-o-filter: blur(4px);
filter: blur(4px);
}

input, textarea{
    background-color:rgba(117, 114, 114, 0.795);
    color: #FFF;
    width: 500px;
}

.large-fontsize{
    font-size: 3000px;
}  
    